<% include ./partials/header.ejs %>
<div class="home jumbotron">
    <p class="welcome">Calculator</p>
<div class="jumbotron" >
    
        <table>
            <tr>
                
                <td><input type="text"  id="num1" class=" control-label" name="num1" placeholder="Enter First numbe.." style="padding: 10px; border-radius: 3px;font-size: .5em;"></td>
                <td><input type="text" id="num2" class=" control-label" name="num2" placeholder="Enter Second numbe.." style="padding: 10px; border-radius: 3px;font-size: .5em;"></td>
            </tr>
            <tr>
                <td><p id="results" ></p></td>
                <td>
                <button class="btn btn-primary" id="subtract" style="text-shadow: 2px 2px 5px black;"> - </button>
                <button class="btn btn-primary" id="add" style="text-shadow: 2px 2px 5px black;"> + </button>
                <button class="btn btn-primary" id="divide" style="text-shadow: 2px 2px 5px black;"> / </button>
                <button class="btn btn-primary" id="multiply" style="text-shadow: 2px 2px 5px black;"> * </button>
                </td>
            </tr>
        </table>
        <br>
</div>
</div>
<script type="text/javascript">
    class Calculator{
        constructor(num1,num2){
            this.num1 = num1;
            this.num2 = num2;
        }
        get add(){return this.calcAdd();}
        get subtract(){return this.calcSubtract();}
        get divide(){return this.calcDivide();}
        get multiply(){return this.calcMultiply();}
        calcAdd(){
            return math.sum(this.num1,this.num2);
        }
        calcSubtract(){
            return this.num1 + this.num2;
        }
        calcMultiply(){
            return this.num1 + this.num2;
        }
        calcDivide(){
            return this.num1 + this.num2;
            
        }
    } //end of class
let number1 = document.getElementById("num1").value;
let number2 = document.getElementById("num2").value;
let result  = document.getElementById("results").textContent;

document.getElementById("add").onclick =(()=>{
    let addNums = new Calculator(number1,number2);
    result.textContent = addNums.add;
});
document.getElementById("subtract").onclick =(()=>{
    let subtractNums = new Calculator(number1,number2);
    result.textContent = subtractNums.subtract;
});
document.getElementById("divide").onclick =(()=>{
    let divideNums = new Calculator(number1,number2);
    result = divideNums.divide;
});
document.getElementById("multiply").onclick =(()=>{
    let multiplyNums = new Calculator(number1,number2);
     result = parseInt(multiplyNums.multiply);
});
    
</script>
<% include ./partials/footer.ejs %>